html, body {
  background: black; }

.InvisibleButton {
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearence: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  margin: 0;
  outline: none;
  padding: 0; }

#content {
  background: black;
  font-family: 'Lato', sans-serif; }
  #content #navbar {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100; }
    #content #navbar > section {
      display: inline-block;
      float: left;
      font-weight: 300; }
      #content #navbar > section#headerPlayback {
        display: block;
        float: none;
        min-height: 100%;
        opacity: 0.5;
        overflow: hidden;
        text-align: center; }
        #content #navbar > section#headerPlayback #playbackControls {
          display: inline-block; }
          #content #navbar > section#headerPlayback #playbackControls .PlaybackControl {
            display: inline-block; }
            #content #navbar > section#headerPlayback #playbackControls .PlaybackControl#playerPause {
              display: none; }
      @media only screen and (min-width: 320px) {
        #content #navbar > section {
          font-size: 1.5em;
          padding: 0.5em; }
          #content #navbar > section .HeaderBody {
            display: none; }
          #content #navbar > section .PlaybackControl {
            font-size: 0.85em;
            padding: 0.2em 0.35em; } }
      @media only screen and (min-width: 768px) {
        #content #navbar > section {
          padding: 0.5em 1em; }
          #content #navbar > section .HeaderBody {
            display: inline-block;
            font-size: 1em;
            font-weight: 300;
            margin-left: 0.35em; }
          #content #navbar > section .PlaybackControl {
            font-size: 1.15em;
            padding: 0.6em; } }
  #content #coverGrid {
    background: black;
    transition: opacity 0.6s ease-in-out;
    -webkit-transition: "opacity 0.6s ease-in-out, -webkit-filter 600ms ease-in-out"; }
    @media only screen and (min-width: 320px) {
      #content #coverGrid {
        margin-top: 53px; } }
    @media only screen and (min-width: 768px) {
      #content #coverGrid {
        margin-top: 85px; } }
    #content #coverGrid.Searching {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
      opacity: 0.2; }
    #content #coverGrid .Cover {
      display: inline-block;
      overflow: hidden;
      position: relative; }
      @media only screen and (min-width: 320px) {
        #content #coverGrid .Cover {
          width: 50%; } }
      @media only screen and (min-width: 768px) {
        #content #coverGrid .Cover {
          width: 33.33333%; } }
      @media only screen and (min-width: 992px) {
        #content #coverGrid .Cover {
          width: 20%; } }
      @media only screen and (min-width: 1200px) {
        #content #coverGrid .Cover {
          width: 16.66667%; } }
      @media only screen and (min-width: 1600px) {
        #content #coverGrid .Cover {
          width: 12.5%; } }
      #content #coverGrid .Cover .CoverImage {
        height: auto;
        opacity: 0.8;
        transition: opacity 0.6s;
        width: 100%; }
        #content #coverGrid .Cover .CoverImage:hover {
          opacity: 1; }
      #content #coverGrid .Cover .TrackDetails {
        bottom: -100px;
        color: white;
        left: 0;
        margin: 0;
        padding: 0.5em;
        position: absolute;
        right: 0;
        transition: bottom 1.5s; }
        @media only screen and (min-width: 320px) {
          #content #coverGrid .Cover .TrackDetails {
            background: rgba(0, 0, 0, 0.65);
            font-size: 0.8em; }
            #content #coverGrid .Cover .TrackDetails > span {
              display: block;
              white-space: nowrap; }
              #content #coverGrid .Cover .TrackDetails > span.TrackArtist {
                margin-left: 0; } }
        @media only screen and (min-width: 768px) {
          #content #coverGrid .Cover .TrackDetails {
            font-size: 1em; } }
        #content #coverGrid .Cover .TrackDetails .TrackArtist {
          color: rgba(255, 255, 255, 0.75);
          font-weight: 300; }
  #content #searchView {
    color: white;
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: -1000px;
    transition: opacity 0.6s ease-in-out;
    z-index: 99; }
    #content #searchView.Active {
      bottom: 0;
      opacity: 1; }
      @media only screen and (min-width: 320px) {
        #content #searchView.Active {
          top: 53px; } }
      @media only screen and (min-width: 768px) {
        #content #searchView.Active {
          top: 85px; } }
    #content #searchView #dismissSearch {
      font-size: 1.5em;
      left: 0.5em;
      position: absolute;
      top: 0.5em; }
    #content #searchView #searchBody {
      margin: 0.5em 2.5em; }
      #content #searchView #searchBody #searchField {
        background: rgba(0, 0, 0, 0.3);
        border: none;
        border-radius: 4px;
        box-shadow: none;
        color: white;
        font-size: 3.5em;
        font-weight: 300;
        outline: none;
        padding: 0.3em;
        width: 100%; }
      #content #searchView #searchBody #searchResults #searchResultsSearching > span {
        display: inline-block;
        margin-right: 0.5em; }
      #content #searchView #searchBody #searchResults #resultsList {
        list-style: none;
        padding-left: 0; }
        #content #searchView #searchBody #searchResults #resultsList .SearchResult {
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          padding: 1em 0;
          transition: background 0.25s ease-in-out; }
          #content #searchView #searchBody #searchResults #resultsList .SearchResult:hover {
            background: rgba(255, 255, 255, 0.1); }
          #content #searchView #searchBody #searchResults #resultsList .SearchResult .SearchResultCover {
            display: inline-block;
            margin: 0 1em;
            vertical-align: middle; }
          #content #searchView #searchBody #searchResults #resultsList .SearchResult .SearchResultDetails {
            display: inline-block;
            vertical-align: middle; }
            #content #searchView #searchBody #searchResults #resultsList .SearchResult .SearchResultDetails .SearchResultName {
              font-size: 2em;
              font-weight: 300;
              margin: 0 0 0.2em 0; }
            #content #searchView #searchBody #searchResults #resultsList .SearchResult .SearchResultDetails .SearchResultAlbumArtist {
              color: rgba(255, 255, 255, 0.7);
              font-size: 1em;
              font-weight: 400;
              margin: 0; }
              #content #searchView #searchBody #searchResults #resultsList .SearchResult .SearchResultDetails .SearchResultAlbumArtist > strong {
                font-weight: 700; }
