#content {
  background: black;
  font-family: 'Lato', sans-serif; }
  #content #navbar {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    left: 0;
    position: fixed;
    right: 0;
    top: 0; }
    #content #navbar section {
      display: inline-block; }
      @media only screen and (min-width: 320px) {
        #content #navbar section {
          font-size: 1.5em;
          padding: 0.5em; }
          #content #navbar section .HeaderBody {
            display: none; } }
      @media only screen and (min-width: 768px) {
        #content #navbar section {
          padding: 0.5em 1em; }
          #content #navbar section .HeaderBody {
            display: inline-block;
            font-size: 1em;
            margin-left: 0.35em; } }
  @media only screen and (min-width: 320px) {
    #content #coverGrid {
      margin-top: 53px; } }
  @media only screen and (min-width: 768px) {
    #content #coverGrid {
      margin-top: 85px; } }
  #content #coverGrid .Cover {
    display: inline-block; }
    @media only screen and (min-width: 320px) {
      #content #coverGrid .Cover {
        width: 50%; } }
    @media only screen and (min-width: 768px) {
      #content #coverGrid .Cover {
        width: 33.33333%; } }
    @media only screen and (min-width: 992px) {
      #content #coverGrid .Cover {
        width: 20%; } }
    @media only screen and (min-width: 1200px) {
      #content #coverGrid .Cover {
        width: 16.66667%; } }
    @media only screen and (min-width: 1600px) {
      #content #coverGrid .Cover {
        width: 12.5%; } }
    #content #coverGrid .Cover .CoverImage {
      height: auto;
      width: 100%; }
