#content {
  background: black;
  font-family: 'Lato', sans-serif; }
  #content #navbar {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100; }
    #content #navbar > section {
      display: inline-block;
      float: left;
      font-weight: 300; }
      #content #navbar > section#headerPlayback {
        display: block;
        float: none;
        min-height: 100%;
        opacity: 0.5;
        overflow: hidden;
        text-align: center; }
        #content #navbar > section#headerPlayback #playbackControls {
          display: inline-block; }
          #content #navbar > section#headerPlayback #playbackControls .PlaybackControl {
            display: inline-block; }
            #content #navbar > section#headerPlayback #playbackControls .PlaybackControl#playerPause {
              display: none; }
      @media only screen and (min-width: 320px) {
        #content #navbar > section {
          font-size: 1.5em;
          padding: 0.5em; }
          #content #navbar > section .HeaderBody {
            display: none; }
          #content #navbar > section .PlaybackControl {
            font-size: 0.85em;
            padding: 0.2em 0.35em; } }
      @media only screen and (min-width: 768px) {
        #content #navbar > section {
          padding: 0.5em 1em; }
          #content #navbar > section .HeaderBody {
            display: inline-block;
            font-size: 1em;
            font-weight: 300;
            margin-left: 0.35em; }
          #content #navbar > section .PlaybackControl {
            font-size: 1.15em;
            padding: 0.6em; } }
  @media only screen and (min-width: 320px) {
    #content #coverGrid {
      margin-top: 53px; } }
  @media only screen and (min-width: 768px) {
    #content #coverGrid {
      margin-top: 85px; } }
  #content #coverGrid .Cover {
    display: inline-block;
    overflow: hidden;
    position: relative; }
    @media only screen and (min-width: 320px) {
      #content #coverGrid .Cover {
        width: 50%; } }
    @media only screen and (min-width: 768px) {
      #content #coverGrid .Cover {
        width: 33.33333%; } }
    @media only screen and (min-width: 992px) {
      #content #coverGrid .Cover {
        width: 20%; } }
    @media only screen and (min-width: 1200px) {
      #content #coverGrid .Cover {
        width: 16.66667%; } }
    @media only screen and (min-width: 1600px) {
      #content #coverGrid .Cover {
        width: 12.5%; } }
    #content #coverGrid .Cover .CoverImage {
      height: auto;
      opacity: 0.8;
      transition: opacity 0.6s;
      width: 100%; }
      #content #coverGrid .Cover .CoverImage:hover {
        opacity: 1; }
    #content #coverGrid .Cover .TrackDetails {
      bottom: -100px;
      color: white;
      left: 0;
      margin: 0;
      padding: 0.5em;
      position: absolute;
      right: 0;
      transition: bottom 1.5s; }
      @media only screen and (min-width: 320px) {
        #content #coverGrid .Cover .TrackDetails {
          background: rgba(0, 0, 0, 0.65);
          font-size: 0.8em; }
          #content #coverGrid .Cover .TrackDetails > span {
            display: block;
            white-space: nowrap; }
            #content #coverGrid .Cover .TrackDetails > span.TrackArtist {
              margin-left: 0; } }
      @media only screen and (min-width: 992px) {
        #content #coverGrid .Cover .TrackDetails {
          font-size: 1em; } }
      #content #coverGrid .Cover .TrackDetails .TrackArtist {
        color: rgba(255, 255, 255, 0.75);
        font-weight: 300; }
