// Width breakpoints
$xxs: 'min-width: 320px';
$media-xxs: 'only screen and (min-width: 320px)';
$xs: 'min-width: 480px';
$media-xs: 'only screen and (min-width: 480px)';
$sm: 'min-width: 768px';
$media-sm: 'only screen and (min-width: 768px)';
$md: 'min-width: 992px';
$media-md: 'only screen and (min-width: 992px)';
$lg: 'min-width: 1200px';
$media-lg: 'only screen and (min-width: 1200px)';
$xlg: 'min-width: 1600px';
$media-xlg: 'only screen and (min-width: 1600px)';
#content {
  background: black;
  #coverGrid {
    .Cover {
      display: inline-block;
      @media #{$media-xxs} {
        width: 50%;
      }
      @media #{$media-sm} {
        width: 33.3333333%;
      }
      @media #{$media-md} {
        width: 20%;
      }
      @media #{$media-lg} {
        width: 16.666666666666%;
      }
      @media #{$media-xlg} {
        width: 12.5%;
      }
      .CoverImage {
        height: auto;
        width: 100%;
      }
    }
  }
}