// Width breakpoints
$xxs: 'min-width: 320px';
$media-xxs: 'only screen and (min-width: 320px)';
$xs: 'min-width: 480px';
$media-xs: 'only screen and (min-width: 480px)';
$sm: 'min-width: 768px';
$media-sm: 'only screen and (min-width: 768px)';
$md: 'min-width: 992px';
$media-md: 'only screen and (min-width: 992px)';
$lg: 'min-width: 1200px';
$media-lg: 'only screen and (min-width: 1200px)';
$xlg: 'min-width: 1600px';
$media-xlg: 'only screen and (min-width: 1600px)';
#content {
  background: black;
  font-family: 'Lato', sans-serif;
  #navbar {
    background: transparentize(black, 0.1);
    color: white;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    > section {
      display: inline-block;
      float: left;
      font-weight: 300;
      &#headerPlayback {
        display: block;
        float: none;
        min-height: 100%;
        opacity: 0.5;
        overflow: hidden;
        text-align: center;
        #playbackControls {
          display: inline-block;
          .PlaybackControl {
            display: inline-block;
            &#playerPause {
              display: none;
            }
          }
        }
      }
      @media #{$media-xxs} {
        font-size: 1.5em;
        padding: 0.5em;
        .HeaderBody {
          display: none;
        }
        .PlaybackControl {
          font-size: 0.85em;
          padding: 0.2em 0.35em;
        }
      }
      @media #{$media-sm} {
        padding: 0.5em 1em;
        .HeaderBody {
          display: inline-block;
          font-size: 1em;
          font-weight: 300;
          margin-left: 0.35em;
        }
        .PlaybackControl {
          font-size: 1.15em;
          padding: 0.6em;
        }
      }
    }
  }
  #coverGrid {
    @media #{$media-xxs} {
      // Offset for nav bar at top
      margin-top: 53px;
    }
    @media #{$media-sm} {
      margin-top: 85px;
    }
    .Cover {
      display: inline-block;
      @media #{$media-xxs} {
        width: 50%;
      }
      @media #{$media-sm} {
        width: 33.3333333%;
      }
      @media #{$media-md} {
        width: 20%;
      }
      @media #{$media-lg} {
        width: 16.666666666666%;
      }
      @media #{$media-xlg} {
        width: 12.5%;
      }
      .CoverImage {
        height: auto;
        width: 100%;
      }
    }
  }
}